<div xmlns:th="http://www.thymeleaf.org" th:fragment="scriptBody(viewModel)" id="project-script-body">
    <section th:each="scene : ${viewModel.scenes}" class="script-scene">
        <div class="scene-blocks table-blocks-all" th:id="'table-blocks-' + ${viewModel.id}">
            <th:block th:each="block, blockStat : ${scene.blocks}">
                <div th:replace="~{block/projectBlockRow :: blockRow(block=${block}, projectId=${viewModel.id}, canMoveUp=${!blockStat.first}, canMoveDown=${!blockStat.last})}"></div>
            </th:block>
            <div th:if="${scene.lastBlockId != null and !#lists.isEmpty(scene.blocks) and !#strings.isEmpty(scene.blocks[scene.blocks.size() - 1].content)}" class="hide-in-reader-view sidebar menu" th:attr="hx-get=@{/block/createBelowInline(id=${scene.lastBlockId},surface='project')}" hx-trigger="load" hx-swap="outerHTML"></div>
        </div>
    </section>
</div>
