<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Scripty - Create New Scene</title>
    <link rel="stylesheet" href="https://unpkg.com/missing.css@1.1.3/dist/missing.min.css">
    <link th:href="@{/css/scripty.css}" rel="stylesheet">
    <link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon">
</head>
<body hx-boost="true">
    <div th:replace="~{fragments/nav :: nav('')}"></div>
    <main>
        <div th:replace="~{fragments/logout :: logout}"></div>
        <h1>Create New Scene</h1>
        <form th:action="@{/scene/create}" method="post" th:object="${commandModel}">
            <input type="hidden" th:field="*{projectId}" />
            <label>
                Name
                <input type="text" spellcheck="true" th:field="*{name}" />
                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
            </label>
            <p>
                <a th:href="@{/project/show(id=${viewModel.projectId})}" role="button">Cancel</a>
                <button type="submit">Submit</button>
            </p>
        </form>
    </main>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <script th:src="@{/js/_hyperscript.min.js}"></script>
</body>
</html>
