<tr id="create-scene-row" xmlns:th="http://www.thymeleaf.org">
    <td colspan="2">
        <form th:attr="hx-post=@{/scene/createInline}" hx-target="#create-scene-row" hx-swap="outerHTML" hx-trigger="keyup[key=='Enter'] from:find input[name='name'], blur[target.value.trim()!=''] from:find input[name='name']">
            <input type="hidden" name="projectId" th:value="${projectId}" />
            <input type="text" spellcheck="true" name="name" autofocus placeholder="Scene name" _="on blur if my value.trim() is '' remove #create-scene-row then show #create-scene-btn" />
        </form>
    </td>
</tr>
