<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
              xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/mvc
                           http://www.springframework.org/schema/mvc/spring-mvc.xsd
                           http://www.springframework.org/schema/tx 
                           http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd"> 

    <!-- Bean definitions go here -->

    <tx:annotation-driven />
    
    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
        <property name="driverClassName" value="org.h2.Driver" />
        <property name="url" value="jdbc:h2:mem:scripty;MODE=MySQL;DB_CLOSE_DELAY=-1;INIT=RUNSCRIPT FROM 'classpath:schema.sql'\;RUNSCRIPT FROM 'classpath:data.sql'" />
        <property name="username" value="sa" />
        <property name="password" value="" />
        <property name="initialSize" value="5" />
        <property name="maxTotal" value="10" />
    </bean>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="actorDao" class="com.scripty.dao.ActorDaoImpl" />
    <bean id="actorService" class="com.scripty.service.ActorServiceImpl" />
    
    <bean id="blockDao" class="com.scripty.dao.BlockDaoImpl" />
    <bean id="blockService" class="com.scripty.service.BlockServiceImpl" />
    
    <bean id="personDao" class="com.scripty.dao.PersonDaoImpl" />
    <bean id="personService" class="com.scripty.service.PersonServiceImpl" />
    
    <bean id="projectDao" class="com.scripty.dao.ProjectDaoImpl" />
    <bean id="projectService" class="com.scripty.service.ProjectServiceImpl" />
    
    <bean id="sceneDao" class="com.scripty.dao.SceneDaoImpl" />
    <bean id="sceneService" class="com.scripty.service.SceneServiceImpl" />
    
    <bean id="userDao" class="com.chriswatnee.martinis.dao.UserDaoImpl" />
    <bean id="userService" class="com.chriswatnee.martinis.service.UserServiceImpl" />

    <bean id="actorWebService" class="com.chriswatnee.martinis.webservice.ActorWebServiceImpl" />
    <bean id="blockWebService" class="com.chriswatnee.martinis.webservice.BlockWebServiceImpl" />
    <bean id="personWebService" class="com.chriswatnee.martinis.webservice.PersonWebServiceImpl" />
    <bean id="projectWebService" class="com.chriswatnee.martinis.webservice.ProjectWebServiceImpl" />
    <bean id="sceneWebService" class="com.chriswatnee.martinis.webservice.SceneWebServiceImpl" />
    <bean id="userWebService" class="com.chriswatnee.martinis.webservice.UserWebServiceImpl" />

</beans>
