global:
  scrape_interval: 15s

scrape_configs:
  - job_name: scripty
    metrics_path: /actuator/prometheus
    authorization:
      type: Bearer
      credentials: "${METRICS_TOKEN}"
    static_configs:
      - targets: ["${SCRAPE_TARGET}"]
