<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#111111">
    <link rel="manifest" th:href="@{/manifest.json}">
    <meta charset="UTF-8">
    <title>Scripty - Characters</title>
    <link rel="stylesheet" href="/css/missing.min.css">
    <link th:href="@{/css/scripty.css(v=${assetVersion})}" rel="stylesheet">
    <link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon">
</head>
<body hx-boost="true">
    <div th:replace="~{fragments/nav :: nav('')}"></div>
    <main>
        <nav aria-label="Breadcrumb">
            <ol>
                <li><a th:href="@{/project/list}">Projects</a></li>
                <li><a th:href="@{/project/show(id=${viewModel.projectId})}" th:text="${viewModel.projectTitle}"></a></li>
                <li aria-current="page">Characters</li>
            </ol>
        </nav>
        <h1>Characters</h1>
        <table id="table-characters">
            <tr th:each="character : ${viewModel.characters}">
                <td><a th:href="@{/character/show(id=${character.id})}" th:text="${character.name}"></a></td>
            </tr>
        </table>
        <p><a th:href="@{/character/create(projectId=${viewModel.projectId})}" role="button">Create New Character</a></p>
    </main>
    <script src="/js/htmx.min.js"></script>
    <script src="/js/htmx-security.js"></script>
    <script th:src="@{/js/_hyperscript.min.js}"></script>
</body>
</html>
