<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Scripty</title>
    <link rel="stylesheet" href="https://unpkg.com/missing.css@1.1.3/dist/missing.min.css">
    <link th:href="@{/css/scripty.css}" rel="stylesheet">
    <link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon">
</head>
<body hx-boost="true">
    <div th:replace="~{fragments/nav :: nav('index')}"></div>
    <main class="home">
        <h1>Scripty</h1>
        <p sec:authorize="!isAuthenticated()"><a th:href="@{/login}" role="button">Login</a></p>
    </main>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <script th:src="@{/js/_hyperscript.min.js}"></script>
</body>
</html>
