<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#111111">
    <link rel="manifest" th:href="@{/manifest.json}">
    <meta charset="UTF-8">
    <title>Scripty - Casting</title>
    <link rel="stylesheet" href="https://unpkg.com/missing.css@1.1.3/dist/missing.min.css">
    <link th:href="@{/css/scripty.css(v=${assetVersion})}" rel="stylesheet">
    <link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon">
</head>
<body hx-boost="true">
    <div th:replace="~{fragments/nav :: nav('casting')}"></div>
    <main>
        <nav aria-label="Breadcrumb">
            <ol>
                <li aria-current="page">Casting</li>
            </ol>
        </nav>
        <h1>Casting</h1>
        <table id="table-actors">
            <tr th:each="actor : ${viewModel.actors}">
                <td><a th:href="@{/actor/show(id=${actor.id})}" th:text="${actor.first} + ' ' + ${actor.last}"></a></td>
            </tr>
        </table>
        <p>
            <a th:if="${viewModel.characterProjectId != null}" th:href="@{/character/list(projectId=${viewModel.characterProjectId})}" role="button">Characters</a>
            <a th:href="@{/actor/create}" role="button">Create New Actor</a>
        </p>
    </main>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <script th:src="@{/js/_hyperscript.min.js}"></script>
</body>
</html>
