<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/pwaMeta :: pwaMeta}"></th:block>
    <meta charset="UTF-8">
    <title>Scripty - Create New Block</title>
    <link rel="stylesheet" href="/css/missing.min.css">
    <link th:href="@{/css/scripty.css(v=${assetVersion})}" rel="stylesheet">
    <link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon">
</head>
<body hx-boost="true">
    <div th:replace="~{fragments/nav :: nav('')}"></div>
    <main>
        <h1>Create New Block</h1>
        <form th:action="@{/block/create}" method="post" th:object="${commandModel}">
            <input type="hidden" th:field="*{projectId}" />
            <label>
                Content
                <textarea spellcheck="true" rows="25" cols="80" th:field="*{content}"></textarea>
                <span th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></span>
            </label>
            <label>
                Character
                <select th:field="*{personId}">
                    <option value="">No character</option>
                    <option th:each="person : ${viewModel.persons}" th:value="${person.id}" th:text="${person.name}"></option>
                </select>
                <span th:if="${#fields.hasErrors('personId')}" th:errors="*{personId}"></span>
            </label>
            <p>
                <a th:href="@{/project/show(id=${viewModel.projectId})}" role="button">Cancel</a>
                <button type="submit">Submit</button>
            </p>
        </form>
    </main>
    <script src="/js/htmx.min.js"></script>
    <script src="/js/htmx-security.js"></script>
    <script th:src="@{/js/_hyperscript.min.js}"></script>
</body>
</html>
