<form xmlns:th="http://www.thymeleaf.org" th:attr="hx-post=@{/block/editInline}" hx-target="closest .block-content" hx-swap="innerHTML" hx-trigger="input delay:500ms from:find textarea, change from:find select">
    <input type="hidden" name="id" th:value="${commandModel.id}" />
    <input type="hidden" name="sceneId" th:value="${commandModel.sceneId}" />

    <textarea spellcheck="true" rows="1" style="width: 100%; height: 1.5em; min-height: 1.5em; padding: 0.25em;" name="content" autofocus th:text="${commandModel.content}"></textarea>
    <input type="hidden" name="personId" th:value="${commandModel.personId}" />
    <input type="hidden" name="tags" th:value="${commandModel.tags}" />
</form>
