<div xmlns:th="http://www.thymeleaf.org" th:fragment="selectRow" class="block-row project-script-select-row hide-in-reader-view">
    <aside class="block-left-controls hide-in-reader-view sidebar menu">
        <div class="block-left-controls-inner" th:insert="~{fragments/blockSelectAllControl :: controls('project-select-all-blocks')}"></div>
    </aside>
    <div class="block-content project-script-select-spacer" aria-hidden="true"></div>
    <aside class="block-actions hide-in-reader-view sidebar menu" aria-hidden="true"></aside>
</div>
