<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="blockContent">
<div class="screenplay-block" th:classappend="'element-' + ${block.elementType}">
    <p class="element-character" th:if="${not #strings.isEmpty(block.personName)}">
        <a th:href="@{/character/show(id=${block.personId})}" class="character-name" th:text="${block.personName}"></a>
    </p>
    <span class="block-text" th:text="${block.content}"></span>
    <div th:if="${not #strings.isEmpty(block.tags)}" class="block-tags-list">
        <span th:each="tag : ${#strings.arraySplit(block.tags, ',')}"
              th:if="${not #strings.isEmpty(#strings.trim(tag))}"
              th:text="${#strings.trim(tag)}"
              class="block-tag clickable"></span>
    </div>
</div>
</th:block>
